*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
  height:100dvh;
  width:100dvw;
  display:flex;
  flex-direction:column;
  background:black;
}

header{
    height:150px;
    background:#44211f;
    color:#a79999;
    font-size: 100px;
    font-family:"Brush Script MT",cursive;
}

nav img{
    height:100px;
    width:auto;
    filter:invert(1);
}

nav{
    height:150px;
    background:#44211f;
    color:#a79999;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:20px;
    font-size: 50px;
}

nav a{
    margin-right:4dvw;
    color:white;
    text-decoration:none;
    font-family:"Brush Script MT",cursive;
}

nav a:hover{
    color:white;
    text-decoration:underline;
}

main{
    flex:1;
    background:black;
}

h1{
    color:white;
    padding:10px;
}

h2{
    color:white;
    padding:10px;
}

p{
    color:white;
    padding:10px;
}

p a{
    color:white;
    text-decoration:none;
}

p a:hover{
    color:white;
    text-decoration:underline;
}

footer{
    background:#ab9b9c;
    color:white;
    width:fit-content;
    margin:0 auto 15px auto;
    padding:5px;
    border-radius:12px;
    outline: 2px solid #443636;
}

backbutton a{
    position:fixed;
    left:10px;
    bottom:10px;
    background:#ab9b9c;
    color:white;
    width:fit-content;
    padding:5px;
    border-radius:12px;
    outline: 2px solid #443636;
    text-decoration:none;
}

backbutton a:hover{
    color:white;
    text-decoration:underline;
}

.cen{
    display:grid;
    place-content: center;
}